body{
   background: #fffed1;
}


.row{
    max-width: 1140px;
    margin: 0 auto;
}

.anime{
    margin-top: 250px;
}

h1{
    margin-top:75px;
    text-align: center;
    text-shadow: 2px 2px #000;
    color: #fff;
    font-family: 'Poiret One', cursive;
}


header{
    
    background-image: url(../img/espace.jpg);
  
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border-bottom: 4px solid #fff;
    background-attachment: fixed;
 }

h2{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
    text-shadow: 1px 1px #fff;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    margin-bottom: 0px;
    font-family: 'Poiret One', cursive;
}

nav{
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

.navbar{
    padding: 0;
}

.connect{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    max-width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
  background: -webkit-linear-gradient(135deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgba(109,109,109,1);
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -moz-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgba(109,109,109,1);
  background: linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgba(109,109,109,1);
  background-position: auto auto;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 200em 200em;
  background-size: 200em 200em;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}



@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

#rotating {
    -webkit-animation: rotating 15s linear infinite;
    width: 10%;
    display: block;
    margin: 0 auto;
    

}
.form{
    border-top: 4px solid #fff;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
        padding-top: 150px;
    padding-bottom: 150px;
}

#submit_btn{
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

#show{
    display: block;
    text-align: center;
}

.meteoinput{
    display: block;
    text-align: center;
}

.title-weather{
    text-align: center;
   
}
#weather{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: -75px;
    background-color: #fff;
    max-width: 300px;
    border-radius: 8px;
;
    

}
#line{
    display: none;
background: #ADA996;  
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
    
    max-height: 350px;
}
#weatherAfter{
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    max-width: 600px;
    border-radius: 8px;

    
    transition:2s;

}


#inputName{
    margin-bottom: 5px;
    border-radius: 8px;
    border-color: #eaeff2;
    background: #f7fcff;
    text-align: center;
    opacity: 0.8;
}

#inputPass{
    border-radius: 8px;
    margin-top: 15px;
    background: #f7fcff;
    text-align: center;
    border-color: #eaeff2;
    opacity: 0.8;
    margin-bottom: 15px;
}

#Name{
    margin-bottom: 5px;
    border-radius: 8px;
    border-color: #eaeff2;
    background: #f7fcff;
    text-align: center;
    opacity: 0.8;
}

#pass{
    border-radius: 8px;
    margin-top: 15px;
    background: #f7fcff;
    text-align: center;
    border-color: #eaeff2;
    opacity: 0.8;
    margin-bottom: 15px;
}


.clock{
    display: block;
    float: right;
    color: #fff;
    margin-right: 50px;
    margin-top: 25px;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    border:1px solid #000;
    font-size: 25px;
    text-shadow: 2px 2px #000;
    background: #ADA996;  
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 


}

#t{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    max-width: 300px;
    
    
    border-radius: 8px;
  background: -webkit-linear-gradient(135deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgba(109,109,109,1);
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -moz-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgba(109,109,109,1);
  background: linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgba(109,109,109,1);
  background-position: auto auto;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 200em 200em;
  background-size: 200em 200em;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}

.sectionWeather{
    margin-top: 0px;
    border-top: 4px solid #fff;
background: #ADA996;
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    padding-top: 100px;
    padding-bottom: 200px; 
}

#soleil{
    background-image: url(../img/soleil.jpg);

    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#neige{
    background-image: url(../img/neige.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#pluie{
    background-image: url(../img/pluie.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#eclairci{
    background-image: url(../img/eclairci.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#grelon{
    background-image: url(../img/soleil.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#orage{
    background-image: url(../img/orage.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}
#couvert{
    background-image: url(../img/orage.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#tresCouvert{
    background-image: url(../img/orage.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

@media only screen and (max-width: 767px) {
    header{
        text-align: center;
    }

 } 



  @media only screen and (max-width: 1200px) {
    header{text-align: center;
    }
  } 
  @media only screen and (max-width: 1023px) {
    header{
        text-align: center;
        }
    }